
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  body{
    padding: 2em;
    border: 3px solid black;
  }
  .container {
    padding: 0.5em;
    max-width: 65vw;
    display: flex;
    margin: 0 auto;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  section span:nth-child(1),
  section span:nth-child(7){
    flex: 1 0 100%;
    
  }
  span{
    display: block;
    border: 1px solid black;
    flex-grow: 1;
    padding-top: 0.7em;
    padding-bottom: 3.5em;
    text-align: center;
    
  }