body{
    padding: 0m;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}
*{
    margin: 0;
    padding: 0;
}

.card{
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    overflow: hidden;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.2);
    border: 1px solid #CCC;
}

div{
    display: block;
   
}

img{
    width: 100%;
    height: auto;
}


h3{
    font: 1em/1.2 Georgia, serif;
    font-weight: 600;
    padding-left: 1.5em;
    margin:1em 0 0.5em 0;
}

p{
    padding-left: 1.5em;
    padding-right: 2em;
    margin-bottom: 4.5em;
}

button{
   background-color: rgb(0, 153, 0);
   display: block;
   position: absolute;
   bottom: 1.5em;
   right: 1.5em;
   border-radius: 0.4em;
   border-style: none;
}

a{
    display:block;
    color: #fff;
    text-decoration: none; 
    padding: 0.5em;
}





