*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main {
    padding:2em; 
}

body > header{
    width: 100%;
    border-bottom: 2px solid black;
}

main > p{
    padding-bottom: 1.5em;
}
h2{
    margin-bottom: 0.5em;  
}

.sticky {
    width: 100%;
    margin-top: auto;
    background: rgb(102, 102, 102);
}

footer > p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 2em;
}

.site-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    margin: 0.5em;
}